@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Outfit", sans-serif !important;
  background-color: var(--color-yellow) !important;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

:root {
  /* Font sizes */
  --font-size-small: 1.25rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-size-xlarge: 3rem;
  --font-size-xxlarge: 4rem;

  /* Font weights */
  --font-weight-light: 100;
  --font-weight-xlight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-xbold: 800;
  --font-weight-black: 900;

  /* Colors */
  --color-yellow: #ffb81c;
  --color-red: #db0006;
  --color-lightyellow: #ffd16c;
  --color-black: #000000;
  --color-white: #ffffff;
}
