/* OrderNow.jsx */
.ordernow-wrapper {
  display: flex;
}

/* Category.jsx */
.category-wrapper {
  margin-top: 3rem;
}

.category-large-screen {
  border: 2px solid black;
  border-left: none;
  border-radius: 0px 40px 40px 0px;
  width: 20vw;
  min-width: fit-content;
  max-width: 15rem;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 25%);
  background-color: var(--color-lightyellow);
}

.category-small-screen {
  display: none;
}

.category {
  display: flex;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-small);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 30px;
  color: var(--color-black);
  text-decoration: none;
  transition: 0.3s;
}

.category:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  cursor: pointer;
  transform: scale(1.05);
}

.active-category {
  background-color: var(--color-red);
  color: var(--color-white);
  cursor: pointer;
}

/* CategoryCanvas.jsx */
.off-canvas {
  background-color: var(--color-lightyellow);
}

.canvas-title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

/* Menu.jsx */
.menu-wrapper {
  text-align: center;
}

.menu-header {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-xbold);
  margin-bottom: 2rem;
}

.menu-item {
  display: inline-block;
  width: 20vw;
  min-width: fit-content;
  margin: 3rem;
  cursor: pointer;
}

.menu-item-image {
  width: 17rem;
  transition: 0.3s;
}

.menu-item-image:hover {
  transform: scale(1.1);
}

.menu-item-name {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  margin: 1rem 0 0.5rem 0;
}

.menu-item-price {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin: 0.5rem 0 1rem 0;
}

.menu-item-select {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
  color: var(--color-red);
  background-color: var(--color-yellow);
  border: 2px solid var(--color-red);
  border-radius: 30px;
  width: 7rem;
  padding: 0.5rem;
  justify-self: center;
  transition: 0.3s;
}

.menu-item-select:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  transform: scale(1.05);
}

.card {
  position: fixed;
  left: 50%;
  bottom: 45%;
  transform: translate(-50%, 0);
  width: 20rem;
  background-color: var(--color-lightyellow);
  border: 3px solid var(--color-black);
  border-radius: 20px;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 25%);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
}

@media screen and (max-width: 991px) {
  .ordernow-wrapper {
    display: block;
  }

  .category-large-screen {
    display: none;
  }

  .category-small-screen {
    display: block;
  }
}
