.ordernow-wrapper {
  display: flex;
}

.category-wrapper {
  margin-top: 3rem;
}

.large-screen {
  border: 2px solid black;
  border-left: none;
  border-radius: 0px 40px 40px 0px;
  width: 20vw;
  min-width: fit-content;
  max-width: 15rem;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 25%);
  background-color: var(--color-lightyellow);
}

.small-screen {
  display: none;
}

.category {
  display: flex;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-medium);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 30px;
  color: var(--color-black);
  text-decoration: none;
  transition: 0.3s;
}

.category:hover {
  background-color: var(--color-red);
  color: var(--color-white);
  cursor: pointer;
  transform: scale(1.05);
}

.active-category {
  background-color: var(--color-red);
  color: var(--color-white);
  cursor: pointer;
}

.off-canvas {
  background-color: var(--color-lightyellow);
}

.canvas-title {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
}

.menu-wrapper {
  width: 100%;
  text-align: center;
}

.menu-header {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-xbold);
  margin-bottom: 2rem;
}

.menu-item {
  display: inline-block;
  width: 300px;
  margin: 3rem;
}

.item-image {
  width: 200px;
}

.item-name {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.item-price {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

.item-rating {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
}

.item-select {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  color: var(--color-red);
  border: 2px solid var(--color-red);
  border-radius: 30px;
  width: 100px;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  .large-screen {
    display: none;
  }

  .small-screen {
    display: block;
  }
}
