.checkout-wrapper {
  display: flex;
}

.order-summary-wrapper {
  border: 5px solid var(--color-black);
  border-radius: 30px;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 25%);
  background-color: var(--color-lightyellow);
  padding: 2rem;
  width: 30vw;
  min-width: fit-content;
  max-width: 25rem;
  height: fit-content;
}

.summary-header {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.summary-divider {
  border-top: 3px solid black;
  width: 100%;
  opacity: 1;
  justify-self: center;
  margin: 2rem;
}

.summary-item-quantity {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  margin: 1rem 0 1rem 0;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin-bottom: 1.5rem;
}

.summary-price {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin-top: 1rem;
}

.summary-total {
  font-weight: var(--font-weight-xbold);
  margin-top: 4rem;
}
