/* Checkout.jsx */
.checkout-header {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-xbold);
  margin-bottom: 3rem;
  text-align: center;
}

.checkout-content {
  display: flex;
  justify-self: center;
  width: 70vw;
  justify-content: space-between;
}

/* OrderType.jsx */
.order-type-header {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
}

.order-type-options {
  display: flex;
}

.order-type-option {
  border: 3px solid black;
  border-radius: 50px;
  padding: 1rem;
  margin: 2rem 2rem 2rem 0;
  width: 20vw;
  min-width: fit-content;
  max-width: 12rem;
  text-align: center;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 25%);
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}

.active-order-type {
  transform: scale(1.1);
  background-color: var(--color-lightyellow);
}

.order-type-option:hover {
  transform: scale(1.1);
  background-color: var(--color-lightyellow);
}

.order-type-icon {
  margin-right: 0.5rem;
}

.delivery-address > div:first-child {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
}

.delivery-address > div:nth-child(2) {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.delivery-address > div:nth-child(3) {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  margin-top: 1rem;
}

.change-address-btn {
  color: var(--color-black);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  text-decoration: none;
}

/* PaymentDetails.jsx */
.payment-details-wrapper {
  display: flex;
  margin-top: 4rem;
}

.payment-details {
  margin-right: 2rem;
}

.payment-details-header {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
}

.payment-details-wrapper Input {
  margin-top: 2rem;
}

/* UseRewardsPoints.jsx */
.use-points-wrapper {
  margin: 4rem 0 4rem 0;
}

.use-points-header {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
}

.use-points-subheader {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin: 1rem 0 1rem 0;
}

.rewards-points-info {
  display: flex;
  align-items: center;
}

.rewards-points {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-xbold);
  margin-right: 1.5rem;
}

.checkbox-wrapper {
  font-weight: var(--font-weight-medium);
  margin: 1rem 0 1rem 0;
}

.checkbox-wrapper input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--color-yellow);
  border: 2px solid var(--color-black);
  border-radius: 5px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.checkbox-wrapper input:checked {
  content: url(data:image/svg+xml,%3Csvg%20stroke%3D%22currentColor%22%20fill%3D%22currentColor%22%20stroke-width%3D%220%22%20viewBox%3D%220%200%20448%20512%22%20height%3D%221em%22%20width%3D%221em%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M438.6%20105.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-256%20256c-12.5%2012.5-32.8%2012.5-45.3%200l-128-128c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200L160%20338.7%20393.4%20105.4c12.5-12.5%2032.8-12.5%2045.3%200z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.checkbox-wrapper label {
  vertical-align: middle;
}

/* OrderSummary.jsx */
.order-summary-wrapper {
  border: 5px solid var(--color-black);
  border-radius: 30px;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 25%);
  background-color: var(--color-lightyellow);
  padding: 2rem;
  width: 30vw;
  min-width: fit-content;
  max-width: 25rem;
  height: fit-content;
}

.summary-header {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.summary-divider {
  border-top: 3px solid black;
  width: 100%;
  opacity: 1;
  justify-self: center;
  margin: 2rem;
}

.summary-item-quantity {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  margin: 1rem 0 1rem 0;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin-bottom: 1.5rem;
}

.summary-price {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin-top: 1rem;
}

.summary-total {
  font-weight: var(--font-weight-xbold);
  margin-top: 4rem;
}

.add-rewards-points {
  color: var(--color-red);
  font-size: var(--font-size-smallest);
}

.place-order-wrapper {
  text-align: center;
  margin-top: 3rem;
}

.place-order-btn {
  border: 3px solid var(--color-black);
  border-radius: 50px;
  padding: 0.5rem;
  background-color: var(--color-red);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  width: 10vw;
  min-width: fit-content;
  max-width: 10rem;
}

/* CheckoutSuccess.jsx */
.checkout-success-wrapper {
  text-align: center;
  margin-top: 3rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
}

.checkout-success-text {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  margin-top: 2rem;
}

.checkout-success-divider {
  border-top: 3px solid black;
  width: 50%;
  opacity: 1;
  justify-self: center;
  margin: 3rem;
}

.checkout-order-details-header {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  margin: 3rem;
}

.checkout-order-details {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  margin: 1.5rem;
  width: 40vw;
  min-width: fit-content;
  max-width: 30rem;
}

.checkout-subtotal-price {
  margin-top: 5rem;
}

.checkout-total-price {
  margin-top: 5rem;
  font-weight: var(--font-weight-xbold);
}

.checkout-rewards-points {
  color: var(--color-red);
  margin-top: 4rem;
}

@media screen and (max-width: 991px) {
  .checkout-content {
    display: block;
    text-align: center;
  }

  .order-type-options {
    display: block;
    justify-self: center;
    width: 40vw;
    min-width: fit-content;
    max-width: 20rem;
  }

  .order-type-option {
    justify-self: center;
    margin-right: 0;
  }

  .payment-details-wrapper {
    display: block;
    justify-self: center;
  }

  .payment-details {
    margin: 3rem 0 0 0;
  }

  .order-summary-wrapper {
    justify-self: center;
    margin-bottom: 3rem;
    width: 50vw;
    min-width: fit-content;
    max-width: 50rem;
  }
}
