.home-wrapper {
  position: relative;
}

.main-burger {
  width: 100vw;
  max-width: 60rem;
  height: auto;
  display: block;
  margin: auto;
}

.slogan {
  position: absolute;
  color: var(--color-red);
  font-weight: var(--font-weight-xbold);
  font-size: clamp(1rem, 12vw, 12rem);
  bottom: 0;
  justify-self: anchor-center;
  white-space: nowrap;
}
