.logo {
  border-radius: 50%;
  width: 20vw;
  max-width: 10rem;
  min-width: 7rem;
  height: auto;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-link {
  color: var(--color-white) !important;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  margin: 10px;
  padding: 20px !important;
  transition: 0.3s;
}

.nav-link:hover {
  transform: scale(1.2);
}

.active-nav {
  background-color: var(--color-red);
  border-radius: 50px;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 25%);
  transform: scale(1.1);
}
