.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem 1rem 1rem;
  color: var(--color-white);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
}

.logo {
  border-radius: 40%;
  height: 10rem;
  width: 10rem;
}

.nav {
  width: 30rem;
  display: flex;
  justify-content: space-between;
}

.signin-btn {
  border: 3px solid var(--color-white);
  border-radius: 15%;
  padding: 1rem;
  min-width: fit-content;
}
