.logo {
  border-radius: 50%;
  width: 10rem;
}

.nav-link {
  color: var(--color-white) !important;
  font-size: var(--font-size-large) !important;
  font-weight: var(--font-weight-semibold) !important;
  padding: 30px !important;
  transition: 0.3s !important;
}

.nav-link:hover,
.nav-link:focus {
  background-color: var(--color-red) !important;
  border-radius: 50px;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 25%);
  transform: scale(1.1);
}

.signin-btn {
  border: 3px solid var(--color-white);
  border-radius: 15%;
  padding: 1rem;
  min-width: fit-content;
}
