/* ItemDetail.jsx */
.item-detail-wrapper {
  justify-self: center;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  margin: 5rem;
  width: 70vw;
  /* min-width: fit-content; */
  max-width: 60rem;
}

/* ItemDescription.jsx */
.item-description-wrapper {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.item-detail-image {
  width: 30rem;
}

.item-detail-name {
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-xbold);
}

.item-detail-price {
  display: flex;
  margin: 2rem 0 2rem 0;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-medium);
}

.item-detail-price div {
  margin-right: 4rem;
}

.item-detail-description {
  margin-bottom: 2rem;
}

.add-to-cart-btn {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-semibold);
  color: var(--color-red);
  background-color: var(--color-yellow);
  border: 2px solid var(--color-red);
  border-radius: 30px;
  width: 10rem;
  padding: 0.5rem;
  transition: 0.3s;
}

.add-to-cart-btn:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}

/* ReviewArea.jsx */
.review-area-wrapper {
}

.review-area-header {
  display: flex;
  margin: 2rem 0 2rem 0;
  align-items: center;
  text-align: center;
}

.review-area-header > div:first-child {
  margin-right: 1rem;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
}

.review-area-header > div:nth-child(2) {
  font-weight: var(--font-weight-semibold);
  border: 2px solid var(--color-black);
  border-radius: 40px;
  padding: 0.3rem;
  width: 3rem;
  background-color: var(--color-lightyellow);
}

.review-input {
  width: 60vw;
  min-width: fit-content;
  max-width: 50rem;
}

.review-input textarea {
  border: 3px solid var(--color-black);
  border-radius: 20px;
  background-color: var(--color-lightyellow);
  width: 100%;
  resize: none;
  padding: 1rem;
  outline: none;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 25%);
}

.review-input div {
  text-align: right;
}

.review-input button {
  font-weight: var(--font-weight-medium);
  color: var(--color-white);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 20px;
  width: 5rem;
  padding: 0.5rem;
}

.review-info {
  margin-bottom: 1rem;
}

.reviewer-info {
  display: flex;
  align-items: center;
}

.reviewer-info > div:first-child {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  margin-right: 1rem;
}

.reviewer-info > div:nth-child(2) {
  color: #5a5a5a;
  font-size: var(--font-size-smallest);
}

.review-text {
  margin: 0.5rem 0 0.5rem 0;
}

.review-likes {
  display: flex;
  align-items: center;
}

.review-likes div {
  margin-left: 0.5rem;
}

@media screen and (max-width: 991px) {
  .item-description-wrapper {
    display: block;
    text-align: center;
  }

  .item-detail-image {
    width: 18rem;
  }

  .item-detail-price {
    display: block;
  }

  .item-detail-price div {
    margin: 1rem 0 0 0;
  }
}
