.modal-dialog {
  width: 40vw;
  min-width: fit-content;
  max-width: 40rem;
}

.modal-content {
  background-color: var(--color-lightyellow);
  border: 3px solid var(--color-black);
  border-radius: 30px;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 25%);
  padding: 1rem;
}

.meal-modal-body {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-small);
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.meal-modal-options {
  align-content: center;
  border: 3px solid var(--color-black);
  border-radius: 20px;
  width: 12rem;
  min-width: fit-content;
  height: 12rem;
  margin: 2rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.meal-modal-options:hover {
  background-color: var(--color-yellow);
}

.meal-modal-or {
  align-content: center;
}

.meal-modal-extra {
  margin-top: 0.5rem;
}

@media screen and (max-width: 991px) {
  .meal-modal-body {
    display: block;
    align-self: center;
  }
}
