.cart-button {
  border: 3px solid var(--color-black);
  border-radius: 50%;
  background-color: var(--color-red);
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 25%);
  line-height: 1rem;
  padding: 1rem;
  font-size: 2.5rem;
  color: var(--color-black);
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.cart-button:hover {
  transform: scale(1.1);
}

.cart-qty {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border: 3px solid var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}
